.header {
  background-color: white;
  font-family: arial;
  padding: 30px 40px;
  color: #323fef;
  text-align: center;
  font-size:65%;
}

.button {
  padding: 9px;
  border: 1px solid #c8c8c8;
  width: 50px;
  background: linear-gradient(#d3d3d3, #f3f3f3);
  color: #323fef;
  float: center;
  text-align: center;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  font-family: arial;
  vertical-align: middle;
  display:inline-block;
  /* box-shadow: 2px 2px #c8c8c8; */
}

.button:hover {
  background: #323fef;
  color: white;
  font-weight:bold;
  border:1px solid #323fef;
}


.navbar {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #c8c8c8;
  width: 100px;
  color: #323fef;
  float: center;
  text-align: center;
  font-size: 12px;
  font-weight:bold;
  border-radius: 0;
  font-family: arial;
  vertical-align: middle;
  margin-bottom:10px;
  margin-top:25px;
  display:inline-block;
  cursor:pointer;
  /* box-shadow: 2px 2px #c8c8c8; */
}

.navbar:hover {
  background: #323fef;
  color: white;
  font-weight:bold;
  border:1px solid #323fef;
}

input {
  background: #f7f7f7;
  /*box-shadow: 2px 2px 0.5px 0.5px #c8c8c8;*/
  font: arial;
  margin: 0;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  width: 300px;
  padding: 7px;
  float: center;
  font-size: 16px;
  vertical-align: middle;
  margin-right:10px;
}

input {
  background-color:white;
  outline-style: solid;
  outline-color: #323fef;
  outline-width: 1px;
}

ul li {
  font-family:arial;
  cursor: pointer;
  position: center;
  list-style:none;
  padding: 10px 10px 10px 10px;
  margin-right:25px;
  background: #dbeaf8;
  color:#3e3e3e;
  font-size: 13px;
  transition: 0.2s;
  margin-bottom:5px;
  width:50%;
}

.about {
  font-family:arial;
  cursor: pointer;
  position: center;
  list-style:none;
  padding: 25px 25px 25px 25px;
  margin-right:25px;
  background: #dbeaf8;
  color:#3e3e3e;
  font-size: 13px;
  transition: 0.2s;
  margin-top:45px;
  margin-bottom:5px;
  width:70%;
}
