@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 70% 70%;
  }
   50% {
    background-position: 70% 0%;
  }
  75% {
    background-position: 0 70%;
  }
  200% {
    background-position: 0 0;
  }
}

html {
  background: url(https://i.imgur.com/31iNVcR.jpg) no-repeat center center fixed;
  background-size: cover;
  animation: panning 140s infinite linear;
}

.bigText{
  font-size:175%;
  font-family: arial;
  color: #fff;
  margin-top: 135px;
  margin-bottom: 50px;
  margin-right:40px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0,0,0,0.25);
  display:inline;
  cursor:pointer;
  background: rgba(0,0,0,0);
  padding: 5px;
  border-radius:5px;
}

.App {
  margin-bottom:100px;
}

.body {
  margin-top:250px;
  margin-left:10%;
}

.siteheader {
  font-family: arial;
  font-size: 150%;
  color: #fff;
  margin-top: 135px;
  margin-bottom: 50px;
  margin-right:40px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0,0,0,0.05);
  display:inline;
  cursor:pointer;
  background: rgba(0,0,0,0);
  padding: 5px;
  border-radius:5px;
}

.siteheader:hover {
  background: rgba(14,122,219,0.2);
  padding: 5px;
}

.subheadertext {
  font-family: arial;
  font-size: 80%;
  color: #7c7c7c;
  margin-top: -25px;
}

.navbutton {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #323fef;
  color: white;
  width: 100px;
  float: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
  font-family: arial;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 25px;
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
  /* box-shadow: 2px 2px #c8c8c8; */
}

.navbutton:hover {
  background: #5964f8;
  color: white;
  font-weight: bold;
  border: 1px solid #5964f8;
}

.sitebody {
  background-color: white;
  font-family: arial;
  padding: 30px 40px;
  color: #323fef;
  text-align: center;
  font-size: 65%;
}

.about {
  background:rgba(255,255,255,0.2);
  color:#0563b8;
  width:50%;
  font: arial;
  margin-left:10%;
  border: 0;
  width: 50%;
  padding: 7px;
  float: center;
  font-size: 16px;
  font-weight:bold;
  vertical-align: middle;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
}

.about {
  font-family: arial;
  position: center;
  list-style: none;
  padding: 35px 35px 55px 35px;
  margin-right: 25px;
  color: #484848;
  font-size: 15px;
  transition: 0.2s;
  margin-top: 45px;
  margin-bottom: 5px;
  width: 70%;
  opacity:0.85;
}

.about a {
  text-decoration:none;
  color: #fff;
  text-shadow: 2px 2px rgba(0,0,0,0.08);
  display:inline;
  font-size:15px;
}

p {
  background: -webkit-linear-gradient(top, #0a7fc5, #5116d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:16px;
  font-weight:bold;
}

.emptyTodo {
  font-family: "Helvetica", arial;
  background:rgba(255,255,255,0.2);
  color:#0563b8;
  width:50%;
  font: arial;
  border: 0;
  width: 70%;
  padding-top:12px;
  padding: 10px 20px;
  float: center;
  font-size: 16px;
  font-weight:bold;
  vertical-align: middle;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
  text-align:center;
}

input {
  background:rgba(255,255,255,0.3);
  font: arial;
  border: 0;
  width: 50%;
  height:32px;
  padding: 7px;
  float: center;
  font-size: 18px;
  font-weight:bold;
  vertical-align: middle;
  margin-right: 10px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
  margin-top:15px;
}

input:focus {
  background:rgba(255,255,255,0.4);
  outline-style: none;
}

.button {
  font-family: arial;
  background: rgba(50,63,239,0.45);
  border: 0;
  color: white;
  padding: 9px;
  margin-right: 2px;
  width: 50px;
  height:46px;
  font-size: 12px;
  float: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  vertical-align: middle;
  display: inline-block;
  margin-top:15px;
}

.button:hover {
  background: rgba(50,63,239,0.55);
  border: 0;
}

.todoEntry {
  font-family: "Helvetica", arial;
  font-weight:bold;
  cursor: pointer;
  position: center;
  list-style: none;
  padding: 10px 20px 10px 20px;
  background:rgba(255,255,255,0.3);
  color: #707070;
  font-size: 14px;
  transition: 0.2s;
  margin-bottom: 10px;
  width: 70%;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
}

.todoEntry:hover {
    background:rgba(255,255,255,0.5);
}

.tasklist {
  font-family: arial;
  font-size: 100%;
  color: #7c7c7c;
  margin-top: 25px;
}

.clearbutton {
  font-family: arial;
  background: #323fef;
  border: 1px solid #323fef;
  color: white;
  padding: 9px;
  margin-right: 2px;
  width: 100px;
  font-size: 12px;
  float: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  vertical-align: middle;
  display: inline-block;
}

.clearbutton:hover {
  background: #5964f8;
  border: 1px solid #5964f8;
}
